html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

header {
  
}

main {
  min-height: 100vh;
}

#menu-bar {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  
}

#menu-bar.pin-top {
  position: absolute;
}

#menu-bar.pin-bottom {
  position: relative;
}

#menu-bar.pinned {
  position:relative;
}

a i.material-icons {
  margin-right: 5px;
}

.menu-button {
  padding:0 3rem;
}

.menu-button i {
  vertical-align: bottom;
}

.component-button i {
  vertical-align: bottom;
}

.drop-target {
  min-height: 1em;
  min-width: 1em;
}

.component:hover {
  border: 3px solid #777;
  box-sizing: border-box;
  min-height: ;
}

#drag-shadow {
  z-index: 9000;
}

.component-overlay-container {
  position: relative;
  top: 0;
  right: 0;
  height: 1.25em;
}

.component-overlay {
  display:none;
}

.component:hover .component-overlay {
  display:block;
}

.component-overlay .btn-move {
  cursor: move;
}

footer {
  
}